@page {
  size: A4;
}

body {
  font-family: $font-family;
  font-size: 15px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  image-rendering: -webkit-optimize-contrast;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
}
