.ui-block-mdast-toc {
  .item {
    > .title {
      font-size: 12px;
      line-height: 12px * 1.3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    > .children {
      margin: 5px 0 10px 0;
    }
    .item {
      margin-left: 10px;
    }
    &.selected {
      > .title {
        font-weight: 600;
      }
    }
  }
  > .item {
    &.no-content {
      margin-bottom: 10px;
    }
  }
}