.ui-route-papers-index {
  padding: 20px;
  > .header {
    margin-bottom: 20px;
    > .title {
      display: inline-block;
      font-weight: 600;
    }
    > .version {
      display: inline-block;
      font-size: 12px;
      color: #999;
      &:before {
        content: '(v';
      }
      &:after {
        content: ')';
      }
    }
  }
  > .papers {
    > .paper {
      > .link {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @include for-size(tablet-landscape-up) {
    padding: 30px;
  }
  @include for-size(desktop-up) {
    padding: 50px;
  }
}
